<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UserMessageColor</key>
		<string></string>
		<key>ServerMessageColor</key>
		<string></string>
		<key>TimeColor</key>
		<string></string>
		<key>IMNavigationBarTintColor</key>
		<string></string>
		<key>HCNavigationBarTintColor</key>
		<string></string>
		<key>FAQSNavigationBarTintColor</key>
		<string></string>
		<key>TicketNavigationBarTintColor</key>
		<string></string>
		<key>ArticleNavigationBarTintColor</key>
		<string></string>
		<key>RobotNavigationBarTintColor</key>
		<string></string>
		<key>RobotNavigationColor</key>
		<string></string>
		<key>RobotTitleColor</key>
		<string></string>
		<key>RobotTransferColor</key>
		<string></string>
		<key>IMNavigationColor</key>
		<string></string>
		<key>IMHCNavigationColor</key>
		<string></string>
		<key>HCNavigtionColor</key>
		<string></string>
		<key>HCContentNavigationColor</key>
		<string></string>
		<key>TicketNavigationColor</key>
		<string></string>
		<key>OneSelfNavcigtionColor</key>
		<string></string>
		<key>ButtomColor</key>
		<string></string>
		<key>TextViewColor</key>
		<string></string>
		<key>FAQTitleColor</key>
		<string></string>
		<key>FAQSTitleColor</key>
		<string></string>
		<key>FAQDetailsColor</key>
		<string></string>
		<key>ContactUsTitleColor</key>
		<string></string>
		<key>FAQSContactUsColor</key>
		<string></string>
		<key>SearchCancleButtonColor</key>
		<string></string>
		<key>SearchContactUsColor</key>
		<string>FF0000</string>
		<key>ContactUsBorderColor</key>
		<string>FF0000</string>
		<key>TipsFontColor</key>
		<string>FF0000</string>
		<key>SearchBarBackgroundColor</key>
		<string>FF0000</string>
		<key>ArticleContentsColor</key>
		<string></string>
		<key>ArticleTitleColor</key>
		<string></string>
		<key>FontName</key>
		<string></string>
		<key>ContentFontSize</key>
		<string></string>
		<key>TimeFontSize</key>
		<string></string>
		<key>NotOnlineTopAlertView</key>
		<string></string>
		<key>QueueTopAlertView</key>
		<string></string>
		<key>AgentOnlieTitleColor</key>
		<string></string>
		<key>ChatBackGroundColor</key>
		<string></string>
		<key>FAQBackGroundColor</key>
		<string></string>
		<key>ArticleBackGroundColor</key>
		<string></string>
		<key>FAQFontColor</key>
		<string></string>
		<key>TicketNavigationTitleColor</key>
		<string></string>
	</dict>
</array>
</plist>
